@import "navbar.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(7, 30, 83, 1), rgb(21, 192, 237, 0.5));
    color: #fff;
}

.unselectable {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

div {
    border: 1px solid red;
}

/*############################# */
/*###### CAROUSEL HEADER ###### */
/*############################# */

.details--content__section {
    height: 80vh;
    background: linear-gradient(rgb(21, 192, 237, 0.5), rgb(7, 30, 83, 1)), url(../img/posters/apercu_futurama.png) fixed center center repeat;
    background-size: cover;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
}

.poster--content {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-inline: auto;
}

.stars {
    display: flex;
    align-items: center;
}

.fa-star.gold {
    color: #ffdc0f;
}

.stars p {
    margin-bottom: 0;
}