.footer {
    background: rgb(7, 30, 83, 1);
    height: 70px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
    bottom: 0;
}

.footer a {
    color: #007bff;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 99999;
}

@media (max-width: 768px) {
    .footer {
        height: 150px;
    }
    .footer a {
        display: flex;
        flex-direction: column;
    }
}