@import "navbar.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(120deg, #071e53, #15c0ed) 50% no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

/*############################# */
/*###### CAROUSEL HEADER ###### */
/*############################# */
.carousel-item {
    height: 67vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 100;
}

/*############################## */
/*###### CAROUSEL CONTENT ###### */
/*############################## */
.title {
    margin: 25px 0 25px 0;
    font-size: 29px;
    color: #bd9e5a;
    filter: brightness(1.10);
    font-weight: 900;
}

.item {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform .3s;
    transform: translate3d(0, -1px, 0);
    border-radius: 5px;
}

.item:hover {
    transform: translate3d(0, -10px, 0)
}

.item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.item__body {
    padding: 25px
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #232323
}

.item__description {
    color: #585858
}

.carousel, .items {
    position: relative
}

.carousel {
    margin-bottom: 30px;

}

.carousel__container {
    transition: transform .3s;
    transform: translateZ(0)
}

.carousel__container:after {
    content: "";
    clear: both;
    display: table
}

.carousel__item {
    float: left
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(../img/arrow-right.svg) 50% no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform .3s, opacity .3s
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2)
}

.carousel__prev {
    background-image: url(../img/arrow-left.svg);
    right: auto;
    left: -20px
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0
}

.carousel__pagination {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    display: none
}

.carousel__pagination__button {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform .3s;
    cursor: pointer
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.4)
}

@media screen and (min-width: 800px) {
    .carousel__pagination {
        display: block
    }
}

.more__btn {
    font-weight: 500;
    font-size: 20px;
    padding: 6px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(90deg, rgb(7, 30, 83, 1), rgb(21, 192, 237, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    margin: auto;
}

.more__btn:hover {
    font-weight: 500;
    font-size: 20px;
    padding: 6px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(90deg, rgb(7, 30, 83, 1), rgb(21, 192, 237, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    margin: auto;
}

<<<<<<< HEAD
/*############################# */
/*###### CTA INSCRIPTION ###### */
/*############################# */

.cta--inscription__container {
=======
/*########################### */
/*###### CTA SUBSCRIBE ###### */
/*########################### */

.cta--subscribe {
>>>>>>> c0dc037598fe1f53cb3bb7bc66b47ba6d62b9eb5
    text-align: center;
    background: linear-gradient(0deg, rgb(7, 30, 83, 1), rgb(21, 192, 237, 0.5)), url(../img/mozaic.jpg) fixed center center repeat;
    padding: 60px 0;
    height: 290px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

<<<<<<< HEAD
.cta--inscription h2 {
=======
.cta--subscribe h2 {
>>>>>>> c0dc037598fe1f53cb3bb7bc66b47ba6d62b9eb5
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}

<<<<<<< HEAD
.cta--inscription a {
=======
.cta--subscribe a {
>>>>>>> c0dc037598fe1f53cb3bb7bc66b47ba6d62b9eb5
    width: 300px;
    margin: auto;
}

<<<<<<< HEAD
.cta--inscription .subscribe__btn {
=======
.cta--subscribe .subscribe__btn {
>>>>>>> c0dc037598fe1f53cb3bb7bc66b47ba6d62b9eb5
    font-weight: 500;
    font-size: 20px;
    padding: 6px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(90deg, rgb(7, 30, 83, 1), rgb(21, 192, 237, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
<<<<<<< HEAD
    .footer h2 {
        font-size: 1.4rem;
=======
    .cta--subscribe {
        height: 150px;
    }
    .cta--subscribe a {
        display: flex;
        flex-direction: column;
>>>>>>> c0dc037598fe1f53cb3bb7bc66b47ba6d62b9eb5
    }
}

