nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.20);
}

.container__navbar {
    padding-left: 15px;
    padding-right: 45px;
    height: 55px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: height 0.45s ease;
    transition: height 0.45s ease;
}

.navbar,
.navbar > .container__navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /*background-color: rgb(7, 30, 83, 1);*/
    /*border-bottom: 1px solid #eceef3;*/
    position: fixed;
    z-index: 1000;
    transition: all 0.5s;
    width: 100vw;
}

#header.navbar-scrolled {
    background: rgba(0, 0, 0, 1);
    width: 100vw;
}


.Navbar__Items--left a, .Navbar__Items--right a {
    padding: 12px;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.Navbar__Items--right {
    display: flex;
    flex-direction: row;
}

.Navbar__Items--right svg {
    float: right;
}

.Navbar__Link-brand {
    top: 0;
    left: 50%;
    position: fixed;
    transform: translateX(-50%) translateY(40%);
}

.Navbar__Link-brand a:hover {
    text-decoration: none;
}

.Navbar__Link-brand > a span {
    color: #16d3ff;
}

.Navbar__Link-brand h4 {
    font-weight: 600;
    font-size: 29px;
    color: #fff;
}

/*###################################### */
/*########## Navbar hamburger ########## */
/*###################################### */

.Navbar__Link-toggle span {
    height: 2px;
    width: 22px;
    background-color: #fff;
    display: block;
}

.Navbar__Link-toggle span:not(:last-child) {
    margin-bottom: 0.2rem;
}

.Navbar__Link-toggle {
    display: none;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left:auto;
}

.Navbar__Items--left {
    display: flex;
    flex-direction: row;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container__navbar {
        padding-right: 15px;
    }

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display:none;
    }

    .Navbar__ToggleShow {
        display: flex;
        flex-direction: column;
    }

    .Navbar__Items--left {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .Navbar__Link-toggle {
        align-self: flex-start;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(22px);
    }
}

@media only screen and (max-width: 375px) {
    .container__navbar {
        padding-right: 10px;
        padding-left: 0;
    }
    .navbar {
        padding: 5px 0px 0px 20px;
    }
}