body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden
}

body {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(120deg,#071e53,#15c0ed) 50% no-repeat;
    line-height: 1.4
}